.about {
  /* display: flex; */
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

html {
  scroll-behavior: smooth;
}

.leftProfile {
  width: 50%;
  text-align: center;
}

.leftProfile img {
  border-radius: 50%;
  width: 80%;
}

.right p {
  color: white;
  font-size: 1.4rem;
}

.right h1 {
  font-size: 4rem;
}

.right {
  padding-top: 100px;
  margin-left: -50%;
}

.about .leftProfile {
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .about {
    display: flex;
    flex-direction: column;
  }

  .right h1 {
    font-size: 3rem;
  }

  .right {
    margin-left: 0;
  }
}

@media screen and (max-width: 640px) {
  .about {
    flex-direction: column;
  }
  .right h1 {
    font-size: 2rem;
  }
}
