/* .footer-heading h1 {
    color: white;
} */

.phone h4, .mail h4, .footer-heading h1 {
    color: white    ;
}

.footer {
    width: 100%;
    padding: 6rem;
    text-align: center;
    background-color: rgba(19, 19, 19, 0.8);
}

.footer-container {
    margin: auto;
}

.left div {
    padding: 1rem;
}

